@import url('Font-Face/text-Family.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;

}
body {
  font-family: 'DejaVu Sans ExtraLight'!important;
}

header{
    height: 150px;
    width: 100%;
    

}
.Blinkit-Logo{
    background-color: #000000;
    width: 20%;
    height: 150px;
    padding: 10px;
}    
.Blinkit-Logo h3{
    color: #ffffff;
 
}
.Blinkit-Logo h1{
    color: #fea3a2;
 
}
.blinkit-Nav{
    width: 80%;
    background-color: #ffffff;
    height: auto;
    padding: 10px;
}
#Search{
    border: 1px solid black;
    border-radius: 0px;
}
.Admin{
    font-family: 'DejaVu Sans Bold'!important;
    font-size: 17px;

}
.sidebar{
    height: auto;
}
.box{
    width: 32%;
}
.w-100{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#Circle-Graph{
    height: 350px !important;
    width: 350px;
}
.Progress-report li{
    list-style-type: disc;
    margin: -25px;
    margin-left: 50px;        
}
.Work-Text{
    margin-left: -30px;

}